#inputBox {
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

#inputBox div {
  width: 100%;
}

.label {
  font-size: 0.7rem;
  color: var(--dark);
}

input {
  display: flex;
  width: 100%;
  text-align: end;
  background-color: var(--inputBg);
  border-radius: 0.2rem;
}

.focus:focus {
  outline: 0.1rem solid;
  outline-color: var(--cyan);
}

input::placeholder {
  color: var(--inputText);
}

@media (width <= 922px) {
  #inputBox {
    gap: 1rem;
    width: 100%;
  }
}
