#people {
  position: relative;
}

#people img {
  position: absolute;
  bottom: 0.7rem;
  left: 0.5rem;
}

#labelBox {
  justify-content: space-between;
}

.labelWarning {
  font-size: 0.7rem;
  color: var(--warn);
  text-align: end;
}
.error:focus {
  outline: 0.1rem solid;
  outline-color: var(--warn);
} /* อยู่ในระดับที่เท่ากันแล้ว */

.warning {
  color: var(--warn);
  text-align: end;
}
