* {
  /* outline: auto; */
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.centerBox {
  align-items: center;
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.fullScreen {
  width: 100%;
  height: 100%;
}

.inputPadding {
  padding: 0.3rem 0.6rem;
}

.inputText {
  color: var(--dark);
  font-weight: 900;
}

.resultTitle {
  font-size: 0.7rem;
  color: white;
}

.resultText {
  font-size: 0.6rem;
  color: var(--inputText);
}

/* ------------------------------ */

#title {
  letter-spacing: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 3rem;
  color: var(--text);
}

#calBox {
  background-color: var(--calBoxBg);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem var(--darkOpacity);
  flex-wrap: wrap;
  gap: 2rem;
}

/* ---------------------------------- */

@media (width <= 922px) {
  #title {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  #calBox {
    padding: 1rem;
    width: 100vw;
    gap: 1rem;
  }

  #inputBox {
    gap: 1rem;
    width: 100%;
  }

  #percentGridList {
    grid-template-columns: repeat(2, 1fr);
  }

  #tipAmountBox {
    gap: 1rem;
    flex-wrap: wrap;
  }

  #totalBox {
    gap: 1rem;
    flex-wrap: wrap;
  }

  #resultBox {
    width: 100%;
    gap: 2rem;
  }

  .num {
    font-size: 1.7rem;
  }
}

@media (width <= 372px) {
  #tipAmountBox {
    flex-direction: column;
    gap: 0rem;
    flex-wrap: wrap;
  }

  #totalBox {
    flex-direction: column;
    gap: 0rem;
    flex-wrap: wrap;
  }
}
