* {
  /* outline: auto; */
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.centerBox {
  align-items: center;
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.fullScreen {
  width: 100%;
  height: 100%;
}

.inputPadding {
  padding: 0.3rem 0.6rem;
}

.inputText {
  color: var(--dark);
  font-weight: 900;
}

.resultTitle {
  font-size: 0.7rem;
  color: white;
}

.resultText {
  font-size: 0.6rem;
  color: var(--inputText);
}

/* ------------------------------ */

#title {
  letter-spacing: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 3rem;
  color: var(--text);
}

#calBox {
  background-color: var(--calBoxBg);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem var(--darkOpacity);
  flex-wrap: wrap;
  gap: 2rem;
}

/* ---------------------------------- */

#inputBox {
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

#inputBox div {
  width: 100%;
}

#inputBox label {
  font-size: 0.7rem;
  color: var(--dark);
}

input {
  display: flex;
  width: 100%;
  text-align: end;
  background-color: var(--inputBg);
  border-radius: 0.2rem;
}

input:focus {
  outline: 0.1rem solid;
  outline-color: var(--cyan);
}

input::placeholder {
  color: var(--inputText);
}

/* -----------Bill---------- */

#bill {
  position: relative;
}

#bill img {
  position: absolute;
  bottom: 0.7rem;
  left: 0.5rem;
}

/* -----------Tip------------ */

#percentGridList {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-gap: 0.5rem;
  margin-top: 0.5rem;
}

#percentGridList button {
  background-color: var(--dark);
  color: white;
  border-radius: 0.2rem;
  height: 2rem;
}

#percentGridList button:hover {
  background-color: var(--cyan);
  cursor: pointer;
  color: var(--dark);
}

#percentGridList button:active {
  background-color: var(--cyanDesaturate);
}

/* Custom */
#percentGridList input::placeholder {
  color: var(--text);
  text-align: center;
  padding: 0;
}

/* ---------people----------- */

#people {
  position: relative;
}

#people img {
  position: absolute;
  bottom: 0.7rem;
  left: 0.5rem;
}

#people input:focus {
  outline: 0.1rem solid;
  outline-color: var(--warn);
}

#labelBox {
  justify-content: space-between;
}

#labelBox #labelFocus {
  color: var(--warn);
  text-align: end;
}

/* ------------------------------- */

#resultBox {
  background-color: var(--dark);
  color: white;

  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#content {
  gap: 1rem;
}

#tipText {
  justify-content: center;
}

#tipAmountBox {
  justify-content: space-between;
  gap: 3rem;
}

#totalText {
  justify-content: center;
}

.num {
  font-size: 2rem;
  font-weight: 900;
  color: var(--cyan);
  text-align: end;
}

#resultBox button {
  background-color: var(--cyan);
  padding: 0.4rem;
  color: var(--dark);
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

#resultBox button:active {
  background-color: var(--cyanDesaturate);
}

/* ---------------------------- */

@media (width <= 922px) {
  #title {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  #calBox {
    padding: 1rem;
    width: 100vw;
    gap: 1rem;
  }

  #inputBox {
    gap: 1rem;
    width: 100%;
  }

  #percentGridList {
    grid-template-columns: repeat(2, 1fr);
  }

  #tipAmountBox {
    gap: 1rem;
    flex-wrap: wrap;
  }

  #totalBox {
    gap: 1rem;
    flex-wrap: wrap;
  }

  #resultBox {
    width: 100%;
    gap: 2rem;
  }

  .num {
    font-size: 1.7rem;
  }
}

@media (width <= 372px) {
  #tipAmountBox {
    flex-direction: column;
    gap: 0rem;
    flex-wrap: wrap;
  }

  #totalBox {
    flex-direction: column;
    gap: 0rem;
    flex-wrap: wrap;
  }
}
